body {
    margin:40px auto;
    max-width:700px;
    line-height:1.6;
    font-size:16px;
    font-family:'Courier New', monospace;
    color:var(--text);
    background-color:var(--background);
    transition: background-color 0.25s, color 0.25s;
    padding:0 10px
}

:root {
    --background:#F0ECEB;
    --text:#444;
    --link:#444;
}
:root:has(#toggle-theme:checked), :root.dark {
    --background:#1200b7;
    --text:#cccccc;
    --link:#cccccc;
}

a:link {
    color:var(--link);
    transition: color 0.25s
}
a:visited {
    color:var(--link);
    transition: color 0.25s
}

h1,h2,h3{line-height:1.2}
h2,h3{font-size:18px}

.title{text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.exp-gap{margin-top: 0; margin-bottom: 0.75em;}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.profile-img {
    border-radius: 25%;
    object-fit: cover;
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #0000002d, 0 6px 20px 0 #0000002a;
}
.project-3img {
    border-radius: 5%;
    float: left;
    width: 33.33%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 #0000002d, 0 6px 20px 0 #0000002a;
}
.project-2img {
    float: left;
    width: 45%;
    padding: 5px;
    
}
.project-1img {
    width: 50%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #0000002d, 0 6px 20px 0 #0000002a;
}
.project-sch {
    width: 90%;
    display: block;
    margin: 0 auto;
}
.project-gif {
    border-radius: 5%;
    width: 50%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #0000002d, 0 6px 20px 0 #0000002a;
}